@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Core colors */
  --color-gray-200: #e7e7e7;
  --color-white: #ffffff;

  --color-zinc-25: #fdfdfd;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-750: #303036;
  --color-zinc-800: #27272a;

  --color-primary-300: #9894f9;
  --color-primary-500: #564dff;

  /* Semantic colors */
  --color-text-default: var(--text-default);
  --color-text-subtle: var(--text-subtle);
  --color-background-default: var(--background-default);
  --color-background-selected: var(--background-selected);
  --color-border-default: var(--border-default);

  /* Animations */
  --animate-dialog-overlay-in: fadeIn 300ms ease-out;
  --animate-dialog-overlay-out: fadeOut 200ms ease-in;
  --animate-dialog-in: dialogIn 300ms ease-out;
  --animate-dialog-out: dialogOut 200ms ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes dialogIn {
    0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
  }
  @keyframes dialogOut {
    0% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) scale(0.95);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility dark {
  --text-default: var(--color-zinc-300);
  --text-subtle: var(--color-zinc-400);
  --background-default: var(--color-zinc-800);
  --background-selected: var(--color-zinc-600);
  --border-default: var(--color-zinc-600);
}

@layer components {
  :root {
    --text-default: var(--color-zinc-700);
    --text-subtle: var(--color-zinc-500);
    --background-default: var(--color-zinc-25);
    --background-selected: var(--color-zinc-100);
    --border-default: var(--color-zinc-300);
  }
}

@layer base {
  body {
    @apply bg-background-default text-text-default;
  }
}
